{% extends 'base.html' %}

{% block title %}Поиск собак{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Поиск собак</h1>
    <form method="get" class="mb-3">
        <input type="text" name="q" class="form-control" placeholder="Введите имя собаки или породу" value="{{ request.GET.q }}">
        <button type="submit" class="btn btn-primary mt-2">Найти</button>
    </form>
    <ul class="list-group">
        {% for dog in dogs %}
            <li class="list-group-item">
                <strong>{{ dog.name }}</strong> ({{ dog.breed.name }})
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
