<!DOCTYPE html>
<html>
<head>
    <title>Управление паролем</title>
</head>
<body>
    <h1>Управление паролем</h1>

    <!-- Сообщения -->
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Изменение пароля вручную -->
    <h3>Изменить пароль</h3>
    <form method="post">
        {% csrf_token %}
        <label for="new_password">Введите новый пароль:</label>
        <input type="password" name="new_password" id="new_password">
        <button type="submit" name="action" value="manual">Сохранить новый пароль</button>
    </form>

    <!-- Сброс пароля -->
    <h3>Сбросить пароль</h3>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="action" value="generate">Сгенерировать случайный пароль</button>
    </form>

    <hr>

    <a href="{% url 'user_profile' request.user.username %}">Назад к профилю</a>
</body>
</html>
