{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Регистрация</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data" class="border p-4 rounded shadow-sm bg-light">
                {% csrf_token %}
•••••
                <!-- Вывод сообщений -->
                {% if messages %}
                    <div class="alert alert-info">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- Вывод ошибок формы -->
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                {{ form.as_p }}

                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-success">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
